	@media screen and (min-width: 1650px) {
			h1 {font-size: 52px; font-weight: 700}
			h2 {font-size: 44px}
			h3 {font-size: 44px; font-weight: 400}
			body {margin: 100px}
			.header_logo {width: 100px;}
		}
		@media screen and (min-width: 1300px) and (max-width: 1649px) {
			h1 {font-size: 44px; font-weight: 400}
			h2 {font-size: 34px; font-weight: 400}
			h3 {font-size: 36px; font-weight: 400}
			body {margin: 80px}
			.header_logo {width: 80px;}
		}
		@media screen and (min-width: 1000px) and (max-width: 1299px) {
			h1 {font-size: 34px; font-weight: 400}
			h2 {font-size: 28px; font-weight: 400}
			h3 {font-size: 28px; font-weight: 400}
			body {margin: 60px}
			.header_logo {width: 60px;}
		}
		@media screen and (min-width: 800px) and (max-width: 999px) {
			h1 {font-size: 28px; font-weight: 400}
			h2 {font-size: 24px; font-weight: 400}
			h3 {font-size: 24px; font-weight: 400}
			body {margin: 40px}
			.header_logo {width: 60px;}
		}
		@media screen and (max-width: 790px) {
			h1 {font-size: 24px; font-weight: 400}
			h2 {font-size: 20px; font-weight: 400}
			h3 {font-size: 20px; font-weight: 400}
			body {margin: 20px}
			.header_logo {width: 40px;}
		}